@font-face {
  font-family: "Gilroy-Bold"; 
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Medium"; 
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Regular"; 
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Light"; 
  src: url("../fonts/Gilroy-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
  font-family: 'Gilroy-Bold';
  margin: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 4;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

header {
  background-color: #FFEE32;
  display: flex;
  top: 0;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  z-index: 3;
  justify-content: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
/*padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 30px;
  margin-right: 300px;*/
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  padding-left: 11px;
}

.tel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.about {
  margin: 0;
  height: 100%;
}

.menu li a {
  display: flex;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  margin-left: auto;
}

.menu li {
  margin-right: 30px;
  display: flex;
  float: right;
}

.menu {
  display: flex;
}

h1 {
  color: #000;
  font-family: 'Inter';
  font-size: 26px;
  text-align: center;
  cursor: pointer;
}

h2 {
  color: #000;
  font-family: 'Inter';
  font-size: 14px;
  text-align: center;
}

p {
  color: #000;
  font-size: 14px;
  text-align: center;
}

input[type=text], select, textarea {
  height: 56px;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #000;
  border-radius: 33px;
  margin-top: 10px;
  margin-bottom: 32px;
  font-family: 'Gilroy-Light';
  font-size: 15px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 32;
  box-sizing: border-box;
  background-color: white;
}

button[type=submit] {
  font-size: 15px;
  width: 100%;
  height: 62px;
  background-color: #D62140;
  font-family: 'Gilroy-Bold';
  font-style: bold;
  color: white;
  /*padding-left: 26;*/
  /*padding: 14px 196px;*/
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

h3 {
  padding-top: 27px;
  padding-bottom: 45px;
  text-decoration: none;
}
h3 a {
  color: black;
  font-size: 14px;
}

.container1 {
  display: block;
  font-family: 'Gilroy-Bold';
  margin: 35px auto;
  width: 100%;
  max-width: 560px;
  min-height: 300px;
  background-color: rgba(255,255,255,1);
  padding: 40px;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 269px;
  width: 100%;
  padding-bottom: 14px;
  background-color: #0D0D0E;
  border-bottom: 20px solid #000;
}

.footerLogo {
  transition: all 0.4s ease;
}

.footerLogo:hover {
  cursor: none;
  opacity: 0.5;
}

.footerDiv {
  /*align-items: center;*/
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;
}

.footerPrefix {
  margin-left: 30px;
  font-family: 'Gilroy-Light';
  color: #616060;
}

.footerText {
  margin-left: 30px;
  font-family: 'Gilroy-Light';
  color: #bfbfbf;
}

@media screen and (max-width: 991px) {
  footer {
    height: 369px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
  }

  .footerLogo {
    margin-bottom: 20px;
  }

  .footerDiv {
    margin-bottom: 20px;
  }
}
