@font-face {
  font-family: "Gilroy-Bold"; 
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Medium"; 
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Regular"; 
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Light"; 
  src: url("../fonts/Gilroy-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
	font-family: 'Gilroy-Bold';
	margin: 0;
	overflow: hidden;
}

header {
	background-color: #FFEE32;
	/*display: flex;*/
	/*filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.10));*/
	position: fixed;
	top: 0;
	width: 100%;
	padding: 14px;
    z-index: 99999;
}

.row {
    width: 100%;
    max-width: 1360px;
    padding: 0 50px;
    margin: 0 auto;
    display: block;
}

.headerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
	display: inline-block;
    vertical-align: middle;
/*	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 30px;
	margin-right: 300px;*/
}

.menu li a {
	color: black;
	margin-right: 30px;
	display: flex;
	text-transform: none;
	text-decoration: none;
	font-size: 16px;
	margin-left: auto;
	transition-duration: 0.4s;
}

.menu li a:hover {
	color: rgba(0, 0, 0, 0.50);
}

.menu li {
	margin-right: 30px;
	display: inline-block;
    vertical-align: middle;
    position: relative;
}

.menu {
	display: flex;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	padding-left: 11px;
}

/*.tel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0;
}*/

.catalogButton {
	justify-content: center;
	text-align: center;
	margin-top: 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 15px;
    width: 25%;
    height: 62px;
    background-color: #FFEE32;
    font-family: 'Gilroy-Bold';
    font-style: bold;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.catalogButton:hover {
    color: rgba(0, 0, 0, 0.50);
}

.screen {
	display: flex;
  	flex-direction: column;
    align-items: center;
  	justify-content: center;
	height: 100vh;
	width: 100vw;
	transition: margin 0.5s ease-out;
}

.screen.up {
	margin-top: -100vh;
}

.screen.scrollup {
	margin-top: +100vh;
}

.lovemessage {
	font-size: 60px;
}

.upbutton {
	font-size: 40px;
	color: black;
}

.about {
	position: relative;
	top: 0;
	left: 0;
    /*position: flex;*/
    height: 834px;
    background-color: #000;
    margin-top: 103px;
    width: 100vw;
}

.about:before {
    content: "";
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
}

.about video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.about-text {
	position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
}

p {
	margin: 0 0 10px;
	letter-spacing: .18px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sweet {
    max-width: 630px;
    font-size: 64px;
    line-height: 71px;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin: 0 0 10px;
}

.text {
	font-family: 'Gilroy-Light';
    font-size: 24px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 124px;
}