@font-face {
	font-family: "Gilroy-Bold"; 
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

header {
	background-color: yellow;
	display: flex;
	filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.10));
}

body {
	font-family: 'Gilroy-Bold';
	margin: 0;
}

.logo {
	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 30px;
	margin-right: 300px;
}

a {

	margin-right: 30px;
}

header a {
	color: black;
}

.menu li a {
	display: flex;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 14px;
	margin-left: auto;
}

.menu li {
	margin-right: 30px;
	display: flex;
	float: right;
}

.menu {
	display: flex;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1170px;
	padding-left: 18%;
}

.tel {
	font-size: 18px;
}

.about {
	margin: 0;
	height: 100%;
}