@font-face {
	font-family: "Gilroy-Bold"; 
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

header {
	background-color: rgb(240, 240, 10);
	display: flex;
	filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.10));
	position: fixed;
	top: 0;
	width: 100%
}

body {
	font-family: 'Gilroy-Bold';
	margin: 0;
	overflow: hidden;
}

.logo {
	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 30px;
	margin-right: 300px;
}

a {

	margin-right: 30px;
}

header a {
	color: black;
}

.menu li a {
	display: flex;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 14px;
	margin-left: auto;
}

.menu li {
	margin-right: 30px;
	display: flex;
	float: right;
}

.menu {
	display: flex;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	padding-left: 11px;
}

.tel {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

.about {
	margin: 0;
	height: 100%;
}

.catalogButton {
	color: black;
	margin-top: 20%;
	font-size: 1.5rem;
}

.screen {
	display: flex;
  	flex-direction: column;
    align-items: center;
  	justify-content: center;
	height: 100vh;
	width: 100vw;
	transition: margin 0.5s ease-out;
}

.screen.up {
	margin-top: -100vh;
}

.screen.scrollup {
	margin-top: +100vh;
}

.lovemessage {
	font-size: 60px;
}

.upbutton {
	font-size: 40px;
	color: black;
}

