@font-face {
  font-family: "Gilroy-Bold"; 
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Medium"; 
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Regular"; 
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Gilroy-Light"; 
  src: url("../fonts/Gilroy-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Gilroy-Bold';
  margin: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 9999;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

header {
  height: 89px;
  padding: 0 30px;
  background-color: #FDD935;
  display: flex;
  width: 100vw;
  z-index: 3;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 9%);
}

.logo {
  height: 75px;
  width: 160px;
}

p {
  margin: 0px;
  cursor: default;
  color: #000;
  font-size: 22px;
  padding: 0px 0px 32px 0px;
  line-height: 1.35;
}

form {
  padding: 40px 0px 0px 0px;
  border-top: 1px solid #d8d8d8;
  max-width: 480px;
  width: 100%;
}

label {
  font-family: 'Gilroy-Regular';
  font-size: 15px;
}

input[type=text], select, textarea {
  height: 56px;
  border: 1px solid #000;
  border-radius: 33px;
  border-color: rgb(118, 118, 118);
  margin-top: 7px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Light';
  font-size: 15px;
  resize: vertical;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
}

button[type=submit] {
  font-size: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  height: 62px;
  background-color: #FDD935;
  font-family: 'Gilroy-Bold';
  color: #000;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
}

button[type=submit]:hover {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

h3 {
  padding-top: 14px;
  padding-bottom: 48px;
  margin: 0 auto;
}
h3 a {
  font-family: 'Gilroy-Medium';
  text-decoration: underline dotted;
  color: #000;
  font-size: 14px;
}

.disclaimer {
  color: rgb(118, 118, 118);
  font-size: 14px;
  font-family: 'Gilroy-Regular';
  padding-bottom: 48px;
  cursor: default;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy-Bold';
  margin: 40px auto;
  width: 100%;
  max-width: 560px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.08);
}

footer {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 259px;
  background-color: #0D0D0E;
  border-bottom: 23px solid #000;
}

.footerContent {
  max-width: 1360px;
  justify-content: normal;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.footerLogo {
  opacity: 0.5;
  position: absolute;
  top: 73px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.footerLogo:hover {
  opacity: 0.2;
}

.footerEmail {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 200px;
  bottom: 143px;
}

.footerHours {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 200px;
  bottom: 70px;
}

.footerAdress {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 0;
  bottom: 143px;
}

.footerAdress2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 0;
  bottom: 70px;
}

.footerSocials {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 89px;
  left: 140px;
}

.facebook {
  color: #616060;
  margin-right: 12px;
  transition: 0.4s ease;
}

.facebook:hover {
  opacity: 0.5;
}

.instagram {
  color: #616060;
  transition: 0.4s ease;
}

.instagram:hover {
  opacity: 0.5;
}

.footerDisclaimer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: -5px;
}

.footerCopyright {
  position: absolute;
  left: 0;
  top: 171px;
}

.footerPrefix {
  line-height: 20px;
  font-family: 'Gilroy-Light';
  text-transform: uppercase;
  font-size: 14px;
  color: #616060;
}

.footerText {
  font-size: 17px;
  font-family: 'Gilroy-Light';
  color: #fff;
}

.disclaimerText {
  line-height: 20px;
  font-family: 'Gilroy-Light';
  font-size: 14px;
  color: #616060;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0px;
    height: 74px;
  }
  .logo {
    transform: scale(0.8);
}

@media screen and (max-width: 991px) {
  form {
    padding: 40px 0px 40px 0px;
  }
  .container1 {
    padding: 0px 20px 0px 20px;
    box-shadow: none;
  }
  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footerLogo {
    margin-bottom: 20px;
  }
    .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .footerLogo {
    top: auto;
    position: unset;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-bottom: 20px;
  }
  .footerLogo:hover {
    opacity: 0.5;
  }
  .footerEmail {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: auto;
    bottom: auto;
    position: unset;
  }
  .footerHours {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: auto;
    bottom: auto;
    position: unset;
  }
  .footerAdress {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
    position: unset;
  }
  .footerAdress2 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
    position: unset;
  }
  .footerSocials {
    display: flex;
    flex-direction: row;
    position: unset;
    top: 89px;
    left: 140px;
    margin-bottom: 20px;
  }
  .footerCopyright {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
    position: unset;
  }
  .footerDisclaimer {
    position: unset;
    align-items: center;
    margin-bottom: 20px;
  }
  .footerText {
    margin-left: 0px;
    text-align: center;
  }
  .footerPrefix {
    margin-left: 0px;
    text-align: center;
  }
}
}
