@font-face {
	font-family: "Gilroy-Bold"; 
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Gilroy-Medium"; 
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Gilroy-Regular"; 
	src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: "Gilroy-Light"; 
	src: url("../fonts/Gilroy-Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

::-webkit-scrollbar {
    display: none;
}

body {
	font-family: 'Gilroy-Bold';
	margin: 0;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #Fff;
	animation: loader 2s infinite ease;
}

.loader-wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 5;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

header {
	background-color: #FFEE32;
	display: flex;
	position: fixed;
	top: 0;
	width: 100vw;
	padding-top: 14px;
	padding-bottom: 14px;
	z-index: 3;
	justify-content: center;
	box-sizing: border-box;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 9%);
}

.row {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	display: block;
	padding: 0 20px;
}

.headerFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 75px;
	width: 160px;
	display: inline-block;
	vertical-align: middle;
}

.menu li a {
	color: black;
	margin-right: 30px;
	display: flex;
	text-transform: none;
	text-decoration: none;
	font-size: 16px;
	margin-left: auto;
	transition: all 0.4s ease;
}

.menu li a:hover {
	color: rgba(0, 0, 0, 0.30);
}

.menu li {
	margin-right: 30px;
	display: inline-block;
    vertical-align: middle;
    position: relative;
}

.menu {
	display: flex;
}

.basketArea {
	height: 73px;
}

.basket {
	height: 32px;
	width: 32px;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-size: 2rem;
	background-color: transparent;
	border: none;
	transition: all 0.2s ease-out;
}

.basket:hover {
	opacity: 50%;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	padding-left: 11px;
}

.catalogButton {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0); 
	justify-content: center;
	font-family: 'Gilroy-Bold';
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 152px;
	font-size: 20px;
	line-height: 19px;
	color: white;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	padding: 29px 43px;
	transition: all 0.4s ease;
	cursor: pointer;
	width: 25%;
	min-width: 175px;
	box-sizing: border-box;
}

.catalogButton:hover {
	color: black;
	background-color: white;
	box-shadow: 0px 0px 20px white;
}

.screen {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: margin 0.5s ease-out;
}

.screen2 {
	/*margin-bottom: 80px;*/
	flex-wrap: wrap;
	display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
	width: 100wv;
	transition: margin 0.5s ease-out;
}

.screen.up {
	margin-top: -100vh;
}

.screen.scrollup {
	margin-top: +100vh;
}

.upbutton {
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); 
  border: none;
  background-color: transparent;
  width: 25%;
  /*height: 62px;*/
  font-family: 'Gilroy-Bold';
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 72px;
}

.upbutton:hover {
	opacity: 65%;
}

.about {
	height: calc(100vh - 103px);
	position: relative;
	top: 0;
	left: 0;
	background-color: #000;
	margin-top: 103px;
	width: 100%;
}

.about:before {
  content: "";
  background-color: rgba(0,0,0,.3);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
}

.about video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.about-text {
	position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
}

p {
	letter-spacing: .18px;
	display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.sweet {
  max-width: 630px;
  font-size: 64px;
  line-height: 71px;
  text-transform: uppercase;
  margin-bottom: 22px;
  margin: 0 0 10px;
}

.text {
	font-family: 'Gilroy-Light';
  font-size: 24px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 124px;
}

.sweetCatalog {
	margin-top: 48px;
  font-size: 48px;
  line-height: 71px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
}

.cardBox {
	background-color: #fafafa;
  width: 370px;
  padding: 30px;
  height: 482px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 60px;
  margin: 0px 25px 50px 25px;
  transition: all .1s ease-out;
  box-sizing: border-box;
  overflow: hidden;
}

.cardBox:hover {
	box-shadow: 0px 0px 20px rgba(0,0,0,0.08);
	transform: scale(1.03);
}

.tovarType {
	font-family: 'Gilroy-Regular';
  display: table;
  cursor: default;
  font-size: 14px;
  color: #4a4a4a;
  margin: 5px auto 5px;
  text-transform: lowercase;
}

.nameTovar {
	margin: 0px 0px 0px 0px;
	line-height: 30px;
  text-align: center;
  font-size: 20px;
  max-height: 67px;
  text-transform: uppercase;
  cursor: pointer;
}

.descrition {
	font-family: 'Gilroy-Regular';
  display: table;
  cursor: default;
  font-size: 14px;
  color: #4a4a4a;
  margin: 0 auto 5px;
  margin-top: 5px;
  text-transform: lowercase;
}

.tovarPrice {
	font-family: 'Gilroy-Bold';
	text-transform: uppercase;
  position: absolute;
  left: 0px;
  margin: 30px;
  bottom: 0px;
  cursor: pointer;
}

div.scrollmenu {
	margin: 0 auto;
	display: flex;
	-ms-overflow-style: -ms-autohiding-scrollbar;
  	overflow-x: auto;
  	white-space: nowrap;
}

div.scrollmenu a {
	margin-left: 14px;
	margin-right: 14px;
	font-family: 'Gilroy-Medium';
	font-size: 13px;
	border: none;
	border-radius: 33px;
	background-color: #f4f4f4;
	display: inline-block;
	color: #000;
	text-align: center;
	padding: 8px 16px;
	line-height: 20px;
	text-decoration: none;
	box-sizing: border-box;
	cursor: pointer;
}

div.scrollmenu a:hover {
  background-color: #333333;
  color: #fff;
}

.scrollmenu::-webkit-scrollbar {
	display: none; 
}

.catalog {
	margin-left: auto;
	margin-right: auto;
	position: static;
	max-width: 1260px;
	width: 100%;
	justify-content: space-around;
	display: flex;
   flex-wrap: wrap;
	margin-top: 72px;
	margin-bottom: 22px;
}

.buyButton {
	font-family: 'Gilroy-Bold';
	font-size: 12px;
	text-transform: uppercase;
	background-color: #202020;
	color: #fff;
	background-image: url(../img/basket.svg);
	background-repeat: no-repeat;
	background-size: 1rem;
	padding: 10px 15px 10px 40px;
	border-radius: 30px;
	border-color: #202020;
	background-position: 15px;
	transition: all 5s ease;
	position: absolute;
	right: 0px;
	margin: 30px;
	bottom: 0px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.4s ease;
}

.buyButton:hover {
	border-color: black;
	background-color: black;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.12);
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 269px;
	width: 100%;
	background-color: #0D0D0E;
	border-bottom: 20px solid #000;
}

.footerLogo {
	transition: all 0.4s ease;
}

.footerLogo:hover {
	cursor: none;
	opacity: 0.5;
}

.footerDiv {
	display: flex;
	flex-direction: column;
}

.footerPrefix {
	margin-left: 30px;
	font-family: 'Gilroy-Light';
	color: #616060;
}

.footerText {
	margin-left: 30px;
	font-family: 'Gilroy-Light';
	color: #bfbfbf;
}

.socials {
	display: none;
	width: 100%;
	height: 45px;
	position: fixed;
	bottom: 0;
	background-color: #000;
	z-index: 4;
}

.socBtn {
	font-family: 'Gilroy-Bold';
	background-color: transparent;
	border: none;
  color: white;
	display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 45px;
  transition: all 0.4s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.socBtn:hover {
	opacity: 50%;
}

.socialsArrow {
	margin-left: 8px;
	color: #fff;
	transition: all 0.4s ease;
}

.activeArrow {
	transform: rotate(-180deg);
	transition: all 0.4s ease;
}

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
}

.socialLinks {
	display: flex;
	flex-direction: column;
  background-color: #fefefe;
  padding: 20px;
  width: 80%;
  animation-name: animateSocials;
  animation-duration: 0.5s;
}

.socialLinks a {
	font-family: 'Gilroy-Medium';
	font-size: 16px;
	line-height: 24px;
	color: black;
	text-decoration: none;
}

.closeSocials {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 74px;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

.close {
	margin-right: 34px;
	transform: scale(2.0);
}

.shoppingCard {
  display: none;
  position: fixed;
  z-index: 7; 
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: slide;
	overflow-x: hidden;
	overflow-y: scroll;
}

@keyframes slide{
	0% {opacity: 0;}
	100% {transform: translateX(100px); opacity: 1;}
}

.modalBlackout {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.modalCloseArea {
	position: absolute;
	min-width: 100vh;
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

.modalTile {
	width: 380px;
	background-color: #fff;
	z-index: 7;
	flex-direction: column;
	min-height: 100vh;
	margin: auto 0 auto auto;
	padding: 0 0 20px;
	justify-content: normal;
}

.activeModalTile {
}

.shoppingBtnArea {
	width: 100%;
	height: 103px;
	border-bottom: 2px solid #ebeef1;
}

.continueShopping {
	font-family: 'Gilroy-Bold';
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background-color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-sizing: border-box;
	transition: all 0.4s ease-in;
}

.continueShopping:hover {
	opacity: 50%;
}

.backArrow {
	height: 32px;
	width: 17px;
}

.continueShoppingText {
	margin-left: 24px;
}

.modalTitle {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 18px;
	font-size: 38px;
	line-height: 108px;
}

.cartList {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 305px;
	max-width: 90vw;
	margin-bottom: 30px;
}

.cartProduct {
	position: relative;
	width: 100%;
}

.cardProductContent {
	display: flex;
}

.productPreview {
	position: relative;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 120px;
  /*padding: 11px;*/
  border-radius: 10px;
  border: 1px solid #e2e7ec;
}

.productInfo {
	font-family: 'Gilroy-Medium';
	flex: 1 1;
	margin-left: 20px;
	display: block;
	vertical-align: top;
	height: 120px;
}

.productName {
	font-family: 'Gilroy-Bold';
	display: block;
  margin: 10px 0 8px;
  font-size: 16px;
}

.productCounter {
	display: flex;
	align-items: center;
}

.count {
	display: inline-block;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
}

.productCountTitle {
	font-size: 15px;
	line-height: 1.4;
  letter-spacing: 0.06rem;
	color: #818d92;
}

.productCountValue {
	width: 48px;
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	outline: none;
	border: 1px solid #c1c1c1;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
}

.minus {
	vertical-align: middle;
	margin-right: 8px;
}

.plus {
	vertical-align: middle;
	margin-left: 8px;
}

.productPrice {
	font-family: 'Gilroy-Bold';
	position: absolute;
	font-size: 16px;
	letter-spacing: 0.06rem;
	bottom: 0;
	right: 0;
}

.cartBottom {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 30px;
	border-top: 2px solid #ebeef1;
}

.productsCost {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;
}

.productsCostTitle {
	font-size: 13px;
	color: #818d92;
	text-transform: uppercase;
}

.productsCostTotal {
	font-size: 24px;
}

.productRemove {
	position: absolute;
	/*display: flex;*/
/*	justify-content: center;
	align-items: center;*/
	width: 23px;
	height: 23px;
	left: -8px;
	top: -8px;
	border-radius: 50%;
	border: 1px solid #9ca4ab;
	background: #fff;
	cursor: pointer;
}

button[type=submit] {
	margin-top: 20px;
	font-size: 15px;
	width: 277px;
	height: 52px;
	background-color: #FFEE32;
	font-family: 'Gilroy-Bold';
	color: #000;
	border: none;
	border-radius: 1000px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.4s ease-out;
}

@media (hover: none) {
	.cardBox:hover {
		box-shadow: none;
		transform: none;
	}
	.upbutton:hover {
		opacity: 100%;
	}
}

@media screen and (max-width: 1299px) {
	.cardBox {
		margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 26px;
	}
	.catalog {
		margin-bottom: 46px;
	}
}

@media screen and (max-width: 1200px) {
	header {
		padding: 0px;
		height: 74px;
	}
	.basketArea {
		position: absolute;
		right: 0;
		margin-right: 28px;
	}
	.shoppingBtnArea {
		height: 74px;
	}
	.logo {
		transform: scale(0.8);
	}
	.container {
		display: none;
	}
	.about {
		margin-top: 74px;
		height: 100vh;
	}
	.cardBox {
		width: calc(45vw - 40px);
		max-width: 540px;
		min-width: 310px;
    margin-bottom: 60px;
	}
	.catalog {
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 991px) {
	div.scrollmenu {
		display: block;
	}
	.about-text {
    	height: 100%;
    	width: 85%;
	}
	.catalog {
		margin-bottom: 46px;
	}
	.cardBox {
		width: calc(100vw - 40px);
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 26px;
	}
	.container {
		display: none;
	}
	.socials {
		display: flex;
	}
	.row {
		padding: 0 0px;
	}
	.menuButton {
		display: inline-block;
	}
	footer {
		height: 369px;
		display: flex;
		flex-direction: column;
	}
	.footerLogo {
		margin-bottom: 20px;
	}
	.footerDiv {
		margin-bottom: 20px;
	}
	.footerText {
    margin-left: 0px;
    text-align: center;
  }
  .footerPrefix {
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
	div.scrollmenu {
		display: block;
	}
	div.scrollmenu a {
		margin-left: 0px;
		margin-right: 20px;
	}
	.cardBox {
		width: calc(100vw - 40px);
		margin-right: 0px;
		margin-left: 0px;
	}
	.row {
		padding: 0 0px;
		margin: 0 auto;
	}
	.sweet {
		max-width: 767px;
		text-align: center;
		font-size: 44px;

	}
	.text {
		text-align: center;
	}
	.about-text {
    	display: flex;
    	align-items: center;
    	height: 100%;
    	width: 85%;
	}
	div.scrollmenu {
		width: 90%;
	}
}
